* {
    margin: 0;
    padding: 0;
}

/*to remove any defaulT margins and paddings from browser*/

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
    width: 200px; 
}

/* Parent division for zomato logo */

.navbar__brandLogo {
    width: 100%;
}

/* child div will acquire 100% width of its parent division above and will resize acc to its parent div */

.button__primary {
    background-image: linear-gradient(
            /*Linear gradient applies a series of colors to an element and its syntax is first the direction of the color (here it is (to right) and then colors 0% is start point, 50% is mid, 100% is last. */
            to right,
      
            #ff512f 0%,
            #dd2476 50%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;  /*to makes the corners round */
    font-weight: 600;
}

/* Main body Css */


/* Hero container css */
.container {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text {
    font-size: 32px; /*Its a good practice to write font sizes in multiples of 4*/
    color: #1D3557;
    margin: 20px 0;
    font-weight: 800;
}

/* video section css */


.video__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;

    
}
.video {
    border: 50px black;
   
}

.video__bg{
        position: absolute;
        
        width: 25%;
        height: 50%;
        margin: 0px -30px -25px 0px;
        margin-top: 30px;
        z-index: -1;


        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 50%,
            #ff512f 100%
        );
}

.video__text {
    margin-top: -25px;
    margin-left: 250px;
    width: 700px;
   display: flex;
   
}

.text {
    text-align: center;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
}

/* Explore menu css */

.Explorer__menu__text {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    color: #1D3557;
}

.food__card__container {
    width: 100%;
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__card {
    background-color: #f9f9f9;
}

.food__card__description {
    padding: 15px;
}

.view_more {
    text-align: center;
}

/*To add hover effect on zomato order button */

.button__primary:hover {
   background-position: right center;            /* to change or swap colors from color gradient*/
    border: 2px solid #FF6767;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;   /* When we hover over button, mouse cursor changes to pointed finger */
}


/* Media Queries  : stuff changes when we increase/decrease screen sizes */

@media (min-width : 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    }

    .Explorer__menu__lists {
        margin-top: 45px;
        display: flex;
        gap: 15px;
       
    }

    #pizza__card {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .Explorer__menu__container {
        position: relative;
    }

    .Explorer__menu__bg {
        margin-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            /*Linear gradient applies a series of colors to an element and its syntax is first the direction of the color (here it is (to right) and then colors 0% is start point, 50% is mid, 100% is last. */
            to right,
            #ff512f 0%,
            #dd2476 50%,
            #ff512f 100%);

         z-index: -3;  /* Z index is used to overide one div over another */ 
                         /* -1 is used to hide a div behind another */
         transform: skewY(-5deg);
    }    

}

@media (min-width : 1024px) {
    .navbar__brand {
        width: 150px;
    }
    
    .button__primary{
        padding: 20px;
        font-size: 20px;

    }

    .container {
        width: 80%;
    }

    .hero__text {
        font-size: 50px;
    }

    .Explorer__menu__lists {
        gap: 25px;
        padding: 45px;
        
    }

 

    .Explorer__menu__container {
        margin-top: 100px;
        position: relative;
    }

    .Explorer__menu__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            /*Linear gradient applies a series of colors to an element and its syntax is first the direction of the color (here it is (to right) and then colors 0% is start point, 50% is mid, 100% is last. */
            to right,
            #ff512f 0%,
            #dd2476 50%,
            #ff512f 100%);
}

/* Footer part */

.footer__section {
    padding: 100px 120px 120px 0px;
    margin-top: 125px;
    width: 92.1%;
    height: 2px;
    background-image: linear-gradient(
            /*Linear gradient applies a series of colors to an element and its syntax is first the direction of the color (here it is (to right) and then colors 0% is start point, 50% is mid, 100% is last. */
            to right,
            #ff512f 0%,
            #dd2476 50%,
            #ff512f 100%);

     border-radius: 25px 25px 0px 0px;
    
}

.footer__content {
    display: flex;
    justify-content: space-evenly;
}

.footer__logo {
    margin-top: -75px;
    width: 300px;
    filter: brightness(0) invert(1);
}
.logo__content {
    margin-top: -50px;
    color: white;
    display: flex;
    flex-direction: column;
   
    gap: 6px;
  
  
}